@import './base.css';
@import "compass/css3";
@import "compass/css3/animation";

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #000;
  transition: 0.4s;
  padding: 3px;
}

.container {
  height: 100%;
  /* margin: 0 auto; */
}



$bubbles_total: 30;
$anim_time: 0.01;

* {
    @include box-sizing(border-box);
    &:after,
    &:before {
        @include box-sizing(border-box);
    }
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
